.projetos {
    background-color: rgba(255, 150, 150, 0.11);
    border: 5px rgba(128, 0, 128, 0) solid;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    width: 250px;
    margin-top: 10%;
    margin-right: 5%;
    margin-block-end: 10px;
    align-items: center;
}

.Content {
    position: absolute;
    display: flex;
    top: 10%;
    color:rgb(255, 254, 184);
    /* width: 101%; */
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}

img {
    width: 90%;
    box-shadow: 2px 2px 5px rgb(50, 46, 53);
    border-radius: 5%
}

.botoes {
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}  

.botao {
    color: rgb(255, 254, 184);
    font-weight: bold;
    border: 10px rgba(128, 0, 128, 0) solid;
    background-color: rgba(255, 150, 150, 0.11);
    border-radius: 5%;
    text-align: center;
    text-decoration: none;
    transition: 1s;
    min-width: 55px;
}

.botao:nth-child(2) {
    margin-left: 50%;
}

.botao:hover {
    background-color: rgba(255, 150, 150, 0.445);
}

h4 {
    margin: 2%;
    text-align: center;
}

p {
    text-align: center;
    margin-block-end: 2%;
}

#tec {
    color: rgba(255, 150, 150, 0.493);
}

span {
    color: aquamarine;
}

h1 {
    color: rgba(255, 150, 150, 0.493);
    position: relative;
    text-align: center;
}

@media (min-width: 280px) {
    .projetos {
      width: 200px;
    }

    .botao:nth-child(2) {
        margin-left: 10%;
    }
}

@media (min-width: 768px) {
    .projetos {
      margin-top: 15%;
      width: 400px;
      height: 450px;
    }

    .Content {
        top: 10%;
    }
}

@media (min-width: 1024px) {
    .projetos {
      margin-top: 10%;
    }

    .Content {
        top: 15%;
    }
}