.header {
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background-color: rgba(255, 150, 150, 0.308);
    z-index: 1;
}

button {
    background-color: rgba(255, 150, 150, 0);
    color: rgb(255, 254, 184);
    font-weight: bold;
    transition: 2s;
    animation: mostraBotao 2s infinite;
}

@keyframes mostraBotao {
    50% {
        opacity: 0.5;
    }
}

button:hover {
    font-size: medium;
    border-bottom: 1px solid;
}