
.Repositories {
    border: solid 1px black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 1%;
    padding: 2%;
    width: 300px;
}

.Content { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2%; 
}